<!DOCTYPE html>
<html lang="en">
<%- include( "include/head.ejs") %> 
<body class="bg-black">
  <div class=error-page>
    <h1 class="text-light">!!!Oops seems like we couldn't find what you were looking for</h1>
    <div id="page-change" class="w-100">
      
      <a class="text-center w-50" href="<%= "/" %> ">Head Home</a> 
    </div>
  </div>
 
    
</body>
</html>